*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.container aui-card {
    height: 400px;
    width: 300px;
}