<h1>Libraries Demo App</h1>

<div class="container">
  <aui-card
    title="Add a phone-line"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="true"
    [isActive]="false"
  ></aui-card>
  <aui-card
    title="Add a phone-line"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="true"
    [isActive]="false"
  ></aui-card>
  <aui-card
    title="Get a device"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="true"
    [isActive]="true"
  ></aui-card>
  <aui-card
    title="Add a phone-line"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="true"
    [isActive]="false"
  ></aui-card>
  <aui-card
    title="Add a phone-line"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="true"
    [isActive]="false"
  ></aui-card>
</div>

<div style="margin: 0 auto; display: flex; justify-content: center; transform: scale(2);">
  <aui-card
    title="Add a phone-line"
    icon="https://via.placeholder.com/225x225"
    [isHoverOnlyActive]="false"
    [isActive]="false"
  ></aui-card>
</div>